{% extends 'base.html' %} {% block content %}
<div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          Interview Pitch
        </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            {% if interview_pitches %} {% for item in interview_pitches %}
            <div class="card">
                <div class="card-body">
                    <p class="card-text">{{ item.pitch }}</p>
                    <p class="card-text"><small class="text-muted">{{ item.pitche.username }}</small></p>
                    <p class="card-text"><small class="text-muted">{{ item.posted.strftime('%Y-%m-%d') }}</small></p>
                    <a href="{{url_for('main.comment',pitch_id = item.pitch_id)}}" class="btn btn-secondary">Comment</a>
                </div>
            </div>
            {% endfor %} {% else %}
            <div>
                <p>There are no Interview pitches yet, perhaps you would like to <span><a href="{{ url_for('main.create_pitch')}}">add one</a></span></p>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
          Promotion pitch
        </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
            {% if promotion_pitches %} {% for item in promotion_pitches %}
            <div class="card">
                <div class="card-body">
                    <p class="card-text">{{ item.pitch }}</p>
                    <p class="card-text"><small class="text-muted">{{ item.pitche.username }}</small></p>
                    <p class="card-text"><small class="text-muted">{{ item.posted.strftime('%Y-%m-%d') }}</small></p>
                    <a href="{{url_for('main.comment',pitch_id = item.pitch_id)}}" class="btn btn-secondary">Comment</a>
                </div>
            </div>
            {% endfor %} {% else %}
            <div>
                <p>There are no Promotion pitches yet, perhaps you would like to <span><a href="{{ url_for('main.create_pitch')}}">add one</a></span></p>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
          Pickup line
        </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
            {% if pickup_lines %}{% for item in pickup_lines %}
            <div class="card">
                <div class="card-body">
                    <p class="card-text">{{ item.pitch }}</p>
                    <p class="card-text"><small class="text-muted">{{ item.pitche.username }}</small></p>
                    <p class="card-text"><small class="text-muted">{{ item.posted.strftime('%Y-%m-%d') }}</small></p>
                    <a href="{{url_for('main.comment',pitch_id = item.pitch_id)}}" class="btn btn-secondary">Comment</a>
                </div>
            </div>
            {% endfor %} {% else %}
            <div>
                <p>There are no Pickup lines yet, perhaps you would like to <span><a href="{{ url_for('main.create_pitch')}}">add one</a></span></p>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
          Comedic quips
        </button>
        </h2>
        <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
            {% if comedic_quips %}{% for item in comedic_quips %}
            <div class="card">
                <div class="card-body">
                    <p class="card-text">{{ item.pitch }}</p>
                    <p class="card-text"><small class="text-muted">{{ item.pitche.username }}</small></p>
                    <p class="card-text"><small class="text-muted">{{ item.posted.strftime('%Y-%m-%d') }}</small></p>
                    <a href="{{url_for('main.comment',pitch_id = item.pitch_id)}}" class="btn btn-secondary">Comment</a>
                </div>
            </div>
            {% endfor %} {% else %}
            <div>
                <p>There are no Comedic quips yet, perhaps you would like to <span><a href="{{ url_for('main.create_pitch')}}">add one</a></span></p>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}