{% extends 'base.html' %} {% block content %}
<div class="container" style="border:solid black 1px; padding: 10px; margin-top:20px;">
    <form class="container-fluid" method="POST">
        {{ pitch.hidden_tag()}}
        <div class="mb-3">
            {{ pitch.pitch_title.label(class="form-label")}}{{ pitch.pitch_title(class="form-control")}}
        </div>
        <div class="mb-3">
            {{ pitch.pitch.label(class="form-label")}}{{ pitch.pitch(class="form-control")}}
        </div>
        <div class="mb-3">
            {{ pitch.pitch_category(class="list-group-flush")}}
        </div>
        <div class="mb-3">
            {{pitch.submit(class="btn btn-success")}}
        </div>

    </form>
</div>
{% endblock%}